table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
      text-align: center;
    }
    .gantt-bar {
      display: inline-block;
      margin-right: 2px;
      padding: 10px;
      background-color: #90ee90;
      border: 1px solid #000;
    }
    button:hover{
      cursor: pointer;
    }
h1 {
  text-align: center;
}
.runbtn{
    margin-top: 7px;
    margin-bottom: 7px;
}